
@import "_vendors/_reset";
@import "_helpers/_vars";
@import "_helpers/_mixin";


//general settings
body{
  font-family: "Arial", sans-serif;
  font-size: 16px;
}
.container{
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

//load header
@import "_partials/_header.scss";

//load slider
@import "_partials/_slider.scss";

//load services
@import "_partials/_services.scss";

// load testimonials
@import "_partials/_testimonial.scss";

//load footer
@import "_partials/_footer.scss";

//load elements
@import "_elements/_buttons.scss";
@import "_elements/_headings.scss";
