
@import "_vendors/_reset";
@import "_helpers/_vars";
@import "_helpers/_mixin";
@import "_helpers/_html-elements";


//general settings
body{
  font-family: "Arial", sans-serif;
  font-size: 16px;
}
.container{
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

//load header
@import "_partials/_header";

//load slider
@import "_partials/_slider";

//load services
@import "_partials/_services";

// load testimonials
@import "_partials/_testimonial";

//load footer
@import "_partials/_footer";

//load elements
@import "_elements/_buttons";
@import "_elements/_headings";
