.services{
  border-bottom: 1px solid #dfdfdf;
  padding: 6em 0 3em 0;
  @include background-img("pattern-bg.jpg", $repeat: repeat);
  &__icon{
    background-color: #484848;
    display: inline-block;
    height: 51px;
    margin-right: 1rem;
    width: 51px;
    @include border-radius(50%);
    &__tyre{
      @include background-img("icon-tyre.png", $position: 16px center, $repeat: no-repeat);
    }
  }
  &__desc{
    width: calc(100% - 51px);
    margin-left: 51px
  }
  &__img{
    display: block;
    height: auto;
    margin-bottom: 1.500em;
    width: 100%;
  }
  &__paragraph{
    color: $baseGray;
    letter-spacing: -1px;
    line-height: 1.250;
  }
}
